@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-attachment: fixed;
    background-image: url("image_fundo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid; 
    flex-direction:row;
    justify-content: center;
    align-items: center;
}        

.main {
    background-color: rgba(166, 206, 243, 0.9);
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 25px;  
    border-color: rgb(96, 148, 196);
}

h1 { 
    font-size: large;
    font-family: 'Roboto';
    text-align: center; 
    opacity: 1;
    margin-bottom: 30px;
}

button {
    border-radius: 10px;
    color: white;
    background-color: #0095f6;
    width: 160px;
    height: 60px;
    margin: 0 30px; 
    vertical-align: top; 
    
}

#button {
    display: inline-block;
}

p {
    text-align: center;
    font-size: medium;
    font-family: 'Roboto';
}

ul {
    text-align: justify;
    font-size: medium;
    font-family: 'Roboto';
}

div {
    font-family: 'Roboto';
    vertical-align: middle;
    text-align: left;
}

/*Local-------------------------------------------------------------*/

.space_local{
    margin-top: 40px;
}

.alert:hover{
    font-size: 12px;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
}

.alert:active{
    background:black;
}

/*Vacinacao-------------------------------------------------------------*/
.categoriaStyle{
    margin-bottom: 10px;
    justify-content: center;
}

.servicoStyle{
    margin-bottom: 30px;
}

/* RESPONSIVE */

